body {
  margin: 0 auto;
  background: #fbfbfb ;
  font-family: 'M PLUS 1p', sans-serif;
  color:#343a40;

}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7vh;
  color: white;
  background: linear-gradient(-225deg, #9696df 0%, #61d2d6 100%) ;
  position: fixed;
  top: 0;
  left:0;
  width:100vw;
}
.center {
  text-align: center;
}
.mb-0 {
  margin-bottom: 0;
}
.pl-5 {
  padding-left: 5%;
}
.text-white {
  color: white;
}
.text-normal {
  font-weight: lighter;
}
.tabs {
  display: none;
}
h1 {
  margin: 0;
}
.h1div {
  width: 50%;
}
h1 >a {
  font-family: 'Meddon', cursive;
  padding-left: 10%;
  color: white;
}
.interesth4{
  font-size: 1.5em;
  margin-top: 0;
}
nav {
  width: 50%;
}
nav > ul > li {
  list-style: none;
}
nav >ul{
  display: flex;
  justify-content: space-evenly;
  padding-left: 0;
  margin:0;
}
nav>ul>li>a:hover{
  transform: scale(1.2);
  color:#9696df;
}
a {
  text-decoration: none;
  color: white;
  font-family: 'M PLUS 1p', sans-serif;
}
 .skills ,.work  {
  height: 90vh;
  padding-top: 20vh;
}
.messages {
  height: 90vh;
  padding-top: 15vh;
}
.contact{
    height: 40vh;
}

/* body */

h2 {
  font-family: 'M PLUS 1p', sans-serif;
  font-size: 2.2em;
  margin:0;
  font-weight: bolder;
}
/* home */

h3 {
  font-size: 1.8em;
}
h4 {
  margin: 2% 0;
}
h5 {
  font-size: 1.3em;
  margin: 5% 0;
}
section{
  margin:0 15%;

}
.profile{
  display: flex;
}
.profile p {
  font-size: 1.3em;
  width: 65%;
}
.portlait{
  height: 15em;
  width: 15em;
}
.interestsBox{
  display: flex;
  justify-content: space-around;
}
.interests {
  box-shadow: 0 0 15px rgba(0,0,0,.3);
  width: 25%;

}
.interests p {
  margin: 8%;
}
/* skills */
.fa-html5{
  color: #ea7f13;
  font-size: 4em;
}
.fa-css3-alt {
  color: #3699f4;
  font-size: 4em;
}
.fa-js {
  color: #e8f60b;
  font-size: 4em;
}
.circleWrap {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding:1% 4%;
  height: 40vh;
  margin-top: 9vh;
}
.circle {
  background: #a2d9e2;
  margin: 1%;
  width: 25%;
  box-shadow: 0 12px 10px -6px rgba(0,0,0,.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* .circle {
  background-color: #e2d1c3;
  border-radius: 50%;
  height:15em;
  width:15em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

} */
.c4 img {
  width:2.8em;
  height: 2.8em;
}

/* work */

.work {

}

.workList {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  padding-left: 0;
  margin: 0;
  height: 60vh;
  padding-top: 2%;
}
.workList>li{
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid #9696df; */
  width: 25%;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,.3);
  /* linear-gradient(-225deg, #9696df 0%, #61d2d6 100%) ; */
  justify-content: space-between;
}
.workList li button {
  width: 45%;
  font-size: 1em;
  height: 10%;
  border-radius: 30px;
  border: 1px solid #9696df;
  margin-bottom: 10%;
  outline: none;
  display: flex;
}
.workList li button a {
  color: #9696df;
  display: inline-block;
  width: 100%;
  height:100%;

}
.workList li button a:hover{
  color:#fff;
  cursor: pointer;
}
.workList li button:hover {
  background: #9696df;
  cursor: pointer;
}



/* .workList li button a {
  color:#9696df;
}
.workList li button a:hover {
  color:#fff;
} */
.workList > li>div >a>img{
  width: 16em;
  height: 10em;
}
.workList >li:last-child>div>a>img{
  height:16em;
  width:10em;
}
.workList a:hover {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1)
}
.workList > li>a>img:hover{
  /* -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1) */
}

.workWrap>p{
  margin: 0;
  font-size: .8em;
  text-align: center;
}
.workWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top:10%;
}

/* contact */

.socialMedia{
  display: flex;
  justify-content: center;
  width: 60%;
  padding: 0;
  margin: 0 20%;
  height: 30vh;
}

.socialMedia>li{
  list-style: none;
  /* background: #9696df; */
  background: linear-gradient(-225deg, #9696df 0%, #61d2d6 100%) ;
  width: 4em;
  height:4em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:2%;
}
.socialMedia li:hover{
  -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1)
}
.socialMedia>li>a>i{
  font-size: 3em;
}

.lastMsg {
  font-size: 1.2em;
  text-align: center;
  margin-top: 4%;
}


#linkedin > a>i {
  color: white;
  font-size: 2.6em;
}

#email>a>i{
  font-size: 2em;
  /* color: white; */
}
footer {
  width: 100vw;
  background-image: url('./Photos/footer-background.png');
  filter:hue-rotate(-15deg);
  height: 40vh;
  z-index: 1;

}



/* media queries - smartphone */
@media screen and (max-width:575.98px) and (orientation: portrait) {
  body{

  }
  header{
    height: 5vh;
  }

  nav {
    display: none;
  }
  h1{
  font-size: 1.2em;
  font-weight: bold;
  }
  .h1div{
    width: 60% !important;
  }
  h2{
  font-size: 1.2em;
  padding: 2vh 0;
  }
  .h2 {
    font-size: 1.8em;
    margin-top: 15%;
  }
  .pl-5 {
    margin-top:5%;
  }
  h3{
    font-size: 1em;
  }
  h4{
    margin: 0;
    font-size: 1.2em;
  }
  .messages , .skills ,.work ,.contact {
    height: auto;
    padding-top: 0;
  }

  .messages {
    padding-top:5vh;
  }
  section{
    margin:0 6%;
  }
  .profile {
    flex-direction: column-reverse;
    align-items: center;
    border: 1px solid #9696df;
    border-radius: 30px;
  }
  .profile p{
    font-size: 1em;
    margin-top: 5vh;
    width: 80%;
  }
  .portlait{
    height: 5.5em;
    width: 5.5em;
    padding-top: 3%;
  }
  .interestsBox{
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* padding-bottom: 100px; */
  }
  .interests {
    width: 100%;
    margin-bottom: 5%;
    /* border: 1px solid #9696df; */
    border-radius: 30px;
    /* box-shadow: 0 12px 10px -6px rgba(0,0,0,.3); */
  }
  .interesth4 {
    font-size: 1.2em;
    padding:10% 0 5% 0;
  }
  .skills {
    /* padding-top: 50vh; */
    height: 50vh;
  }
  .fa-js {
    font-size: 3em;
  }
  .circleWrap{
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 0;
    height: 50vh;
  }
  .circle{
    height:10em;
    width:10em;
  }
  .circle >h3{
    font-size: 1em;
  }
  .circle >p{
    font-size: 0.7em;
  }


  .work {
    padding-top: 10vh;
  }
  .workList{
    display: none;
    /* overflow-x: scroll; */
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    /* border: 1px solid lightgray;
   padding: 1rem;

   overflow-x: scroll;
   scroll-padding: 0 50%;
   scroll-snap-type: x mandatory; */

  }

  /* .workList > li{
    width: 100%;
    width: 100vw;
    text-align: center;

  }
  .workWrap>a>img{
    width: 8em !important;
    height: 5em !important;
  }
  .workList > li:nth-child(3)>div>a>img{
    height:8em !important;
    width:5em !important;
  } */
  /* .workList > li:last-child{
    height:10em;
    width:6em;
    background-color: #f8f8f8;
  } */
  /* .workList>li>p{
    font-size: 10px;
  }
  .workList >li>h4{
    font-size: 0.7em;

  } */

    /*タブ切り替え全体のスタイル*/
    .tabs {
      display: block;
      margin-top: 50px;
      padding-bottom: 40px;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      width: 100%;
      margin: 0 auto;
      height: 80vh;
    }

    /*タブのスタイル*/
    .tab_item {
      width: calc(100%/3);
      height: 50px;
      border-bottom: 3px solid #5ab4bd;
      background-color: #d9d9d9;
      line-height: 50px;
      font-size: 16px;
      text-align: center;
      color: #565656;
      display: block;
      float: left;
      text-align: center;
      font-weight: bold;
      transition: all 0.2s ease;
    }
    .tab_item:hover {
      opacity: 0.75;
    }

    /*ラジオボタンを全て消す*/
    input[name="tab_item"] {
      display: none;
    }

    /*タブ切り替えの中身のスタイル*/
    .tab_content {
      display: none;
      padding: 40px 40px 0;
      clear: both;
      overflow: hidden;
    }


    /*選択されているタブのコンテンツのみを表示*/
    #all:checked ~ #all_content,
    #programming:checked ~ #programming_content,
    #design:checked ~ #design_content {
      display: block;
    }

    /*選択されているタブのスタイルを変える*/
    .tabs input:checked + .tab_item {
      background-color: #5ab4bd;
      color: #fff;
    }
    .c-txtsp {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .c-txtsp a img {
      width: 15em ;
      height: 10em ;
    }
    .vertical a img{
      height: 13em ;
      width: 9em ;
    }
    .c-txtsp button {
      width: 100%;
      font-size: 1.8em;
      height: 60px;
      border-radius: 30px;
      background: #5ab4bd;
      margin-bottom: 10%;
      outline: none;
      border: none;
    }
    .c-txtsp button a {
      display: block;
    }
    .c-txtsp button::after{
      /* content: "Open Project"; */
      color:white;
      /* font-size: 1.2em; */
    }
  .contact{

  }
  .lastMsg{
    width: 80%;
    padding: 15% 10%;
    font-size: 1em;
  }
  .box{
    height: 38%;
  }
  .socialMedia {
    width: 80%;
    margin:0 10%;
    height: 25vh;
  }
  #linkedin > a>i {
    font-size: 3em;
  }

  #email>a>i{
    font-size: 2.3em;
  }
  .lastMsg {
    padding: 10%;
  }
  footer {
    height: 30vh;
  }
}


/* XS size screen */
@media (max-width:365px){
  .circle{
    height:8em;
    width:8em;
  }
  .fa-html5 , .fa-css3-alt , .fa-js{
    font-size: 2em;
  }
}
@media (min-width : 575.99px) and (orientation : portrait) {
  .profile {
    align-items: center;
    justify-content: space-between;
  }
  .portlait {
    height: 10em;
    width: 10em;
    padding-right: 5%;
  }
  section {
    margin: 0 5%;
  }
  .circleWrap {
    flex-wrap: wrap;
  }
  .circle{
    width: 48%;
    height: 27vh;
  }
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 575.99px) and (max-device-width : 1023px) and (orientation : landscape) {
/* Styles */
}
