

/* Extra small devices  */
@media (max-width: 575.98px) and (orientation: portrait){
  .navLink {
    display: none;
  }
  .title {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 5%;
  }
  .top-text , .skills, .contact {
    width:90%;
    padding: 0 5%;
  }
  .contact {
    margin-bottom: 5%;
  }
  .work {
    padding-top: 10%;
    height: auto;
  }
  .skills {
    margin-top: 15%;
  }
  .skill-title {
    font-size: 1.3em;
  }
  .topHeading {
    height: 80vh;
    width: 80vw;
    padding: 12% 5% 0 5%;
  }
  .topHeading h1,.topHeading h2 {
    font-size: 3.5em;
    margin-bottom: 0;
    margin-top:0.4em;
  
  }
  .portrait {
    height: 7em;
    width: 7em;
    border: 3px solid #62cbc9;
  }
  .top-text {
    height: auto;
  }
  .top-text h3 {
    font-size: 1.5em;
  }
  .msg {
    flex-direction: column-reverse;
  }
  .msg p {
    font-size: 1em;
    padding-right: 0;
    padding-top: 5%;
    line-height: 1.7;
    color: #595757;
  }
  .interestsBox {
    flex-direction: column;

  }
  .interestsBox li {
    width: 96%;
    height: 20vh;
  }
  .interestsBox li:nth-child(1){
    order: -1;
  }
  .interestsBox li h5 {
    margin: 2% 0;
    font-size: 1.4em;
  }
  .interests h4 {
    font-size: 1.5em;
  }
  .desc p {
    font-size: 0.7em;
  }
  .circleWrap {
    flex-wrap: wrap;
  }
  .c1,.c2,.c3,.c4{
    width: 44%;

  }
  .c1, .c2 {
    border-bottom: none;
  }

  .row__inner {
    padding-left: 2%;
  }
  .contact p {
    font-size: 1em;
  }
  .row {
    display: none;
  }
  .workList {
    display: block;
  }
  .workWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15%;
  }
  .workWrap > a>img {
    height: 11em;
    width: 100%;
  }

  .workWrap > h4, .workWrap >p {
    margin:0;
    font-size: 0.7em;
    color: #595757;
  }
  .workWrap >h4 {
    font-size: 0.9em;
  }

  .btn_sp {
    width:80%;
    height: 45px;
    border: 1px solid #62cbc9;
    border-radius: 10px;
    margin-top: 5%;
    display: flex;
    align-items: center;
  }
  .btn_sp:active {
      background: #62cbc9;
  }
  .btn_sp a {
    display: inline-block;
    text-align: center;
    width: 100%;
    /* height: 0%; */
    color: #62cbc9;
  }
  .btn_sp a:active {

    color: #f8f8f8;
  }
 }
 /* Small devices (landscape phones, 576px and up) */
 @media (min-width: 576px) and (max-width: 767.98px) {


  }




  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) and (max-width: 991.98px) {

   }

  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) and (max-width: 1199.98px) {  }
