

/* small devices  */
@media (max-width: 575.98px) and (orientation: portrait){
  .navLink {
    display: none;
  }
  .title {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 5%;
  }
  .top-text , .skills, .contact {
    width:90%;
    padding: 0 5%;
  }
  .contact {
    margin-bottom: 5%;
  }
  .work {
    padding-top: 10%;
    height: auto;
  }
  .skills {
    margin-top: 15%;
  }
  .skill-title {
    font-size: 1.3em;
  }
  .topHeading {
    height: 80vh;
    width: 80vw;
    padding: 12% 5% 0 5%;
  }
  .topHeading h1,.topHeading h2 {
    font-size: 3.5em;
    margin-bottom: 0;
    margin-top:0.4em;

  }
  .portrait {
    height: 7em;
    width: 7em;
    border: 3px solid #62cbc9;
  }
  .top-text {
    height: auto;
  }
  .top-text h3 {
    font-size: 1.5em;
  }
  .msg {
    flex-direction: column-reverse;
  }
  .msg p {
    font-size: 1em;
    padding-right: 0;
    padding-top: 5%;
    line-height: 1.7;
    color: #595757;
  }
  .interestsBox {
    flex-direction: column;

  }
  .interestsBox li {
    width: 96%;
    height: 20vh;
  }
  .interestsBox li:nth-child(1){
    order: -1;
  }
  .interestsBox li h5 {
    margin: 2% 0;
    font-size: 1.4em;
  }
  .interests h4 {
    font-size: 1.5em;
  }
  .desc {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .desc p {
    font-size: 0.7em;
  }
  .circleWrap {
    flex-wrap: wrap;
  }
  .c1,.c2,.c3,.c4{
    width: 44%;

  }
  .c1, .c2 {
    border-bottom: none;
  }
  .c4 img {
    margin-top: 2.5%;
  }
  .c4 h3 {
    margin-top: 13%;
  }

  .contact p {
    font-size: 1em;
  }
  .row {
    display: none;
  }
  .workList {
    display: block;
  }
  .workWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15%;
  }
  .workWrap > a>img {
    height: 11em;
    width: 100%;
  }

  .workWrap > h4, .workWrap >p {
    margin:0;
    font-size: 0.7em;
    color: #595757;
  }
  .workWrap >h4 {
    font-size: 0.9em;
  }

  .btn_sp {
    width:80%;
    height: 45px;
    border: 1px solid #62cbc9;
    border-radius: 10px;
    margin-top: 5%;
    display: flex;
    align-items: center;
  }
  .btn_sp:active {
      background: #62cbc9;
  }
  .btn_sp a {
    display: inline-block;
    text-align: center;
    width: 100%;
    font-size: 1.5em;
    color: #62cbc9;
  }
  .btn_sp a:active {

    color: #f8f8f8;
  }
 }
/* Extra small devices */
 @media (max-width: 350px){
   .topHeading h1,.topHeading h2 {
     font-size: 3em;

   }
 }
 /* Small devices (landscape phones, 576px and up) */
 @media (min-width: 576px) and (max-width: 767.98px)and (orientation: landscape) {
   .topHeading h1,.topHeading h2 {
     font-size: 3em;

   }
   .topHeading {
     padding:0 5% 20% 5%;

   }
   .toNext {
     font-size: 0.7em;
   }
   .top-text {
     width: 96%;
     padding: 0 2%;
      height: auto;
   }
   .top-text h3 {
     font-size: 1.5em;
     padding-left: 5%;
   }
   .navLink {
     width: 50%;
   }
   .msg p {
     font-size: 1em;
     padding: 0 5%;
   }
   .portrait {
     height: 9em;
     width: 9em;
     border: 3px solid #62cbc9;
   }
   .interestsBox li {
    width: 46%;
   }
   .interestsBox li h5 {
     margin: 0 2%;
     font-size: 1.4em;
   }
   .interests h4 {
     padding-left: 5%;
   }
   .skills {
     width: 90%;
     padding: 4% 5%  0 5%;
     margin-top: 17%;
   }
   .skills h2 {
     padding-left: 6%;
   }
   .desc h3 {
     font-size: 1em;
   }
   .desc p {
     font-size:0.7em;
   }
   .c4 img {
     margin-top: 2%;
   }
   .work {
     height: 100vh;
     padding: 2% 10% 20% 10%;
     margin-top: 6%;
   }
   .row {
     display: none;
   }
   .workList {

     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: stretch;
   }
   .workList li {
     width: 30%;
     display: flex;
     justify-content: space-between;
   }
   .workWrap {
     display: flex;
     flex-direction: column;
     align-items: stretch;
     justify-content: space-between;
     padding-bottom: 15%;
   }
   .workWrap a {
     text-align: center;

   }
   .workWrap > a>img {
     height: 7em;
     width: 100%;
   }

   .workWrap > h4, .workWrap >p {
     margin:0;
     font-size: 0.7em;
     color: #595757;
     text-align: center;
   }
   .workWrap >h4 {
     font-size: 1em;
   }

   .btn_sp {
     width:85%;
     height: 45px;
     border: 1px solid #62cbc9;
     border-radius: 10px;
     margin-top: 5%;
     display: flex;
     align-items: center;
     align-self: center;
   }
   .btn_sp:active {
       background: #62cbc9;
   }
   .btn_sp a {
     display: inline-block;
     text-align: center;
     width: 100%;
     font-size: 1.5em;
     color: #62cbc9;
   }
   .btn_sp a:active {

     color: #f8f8f8;
   }
   .contact {
     height: auto;
     padding-bottom:10%;
   }
  }




  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) and (max-width: 991.98px) {
    .title {
      text-align: center;
    }
    /* top */
    .topHeading {
      padding:0 5% 20% 5%;

    }
    .topHeading>h1 , .topHeading>h2{
      font-size: 7em;
      margin-bottom: 0;
    }
    .navLink {
      width: 50%;
    }
    .msg {
      flex-direction: column-reverse;
    }
    .msg p {
      padding: 0 5%;
    }
    .portrait {
      height: 9em;
      width: 9em;
      border: 3px solid #62cbc9;
    }
    .top-text {
      padding:5% 2%;
      width: 96%;
    }
    .interestsBox li{
      width: 46%;
    }

    .interests h4 {
      padding-left: 5%;
    }
    /* skills */
    .circleWrap {
      flex-wrap: wrap;
    }
    .c1,.c2,.c3,.c4{
      width: 44%;

    }
    .c1, .c2 {
      border-bottom: none;
    }
    .c4 img {
      margin-top: 2.5%;
    }
    .c4 h3 {
      margin-top: 5%;
    }
    /* work */
    .work {
      height: auto;
    }
    .row {
      display: none;
    }
    .workList {
      display: block;
    }
    .workWrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 15%;
    }
    .workWrap a {
      text-align: center;

    }
    .workWrap > a>img {
      height: 11em;
      width: 50%;
    }

    .workWrap > h4, .workWrap >p {
      margin:0;
      font-size: 1em;
      color: #595757;
    }
    .workWrap >h4 {
      font-size: 1.2em;
    }

    .btn_sp {
      width:60%;
      height: 45px;
      border: 1px solid #62cbc9;
      border-radius: 10px;
      margin-top: 5%;
      display: flex;
      align-items: center;
    }
    .btn_sp:active {
        background: #62cbc9;
    }
    .btn_sp a {
      display: inline-block;
      text-align: center;
      width: 100%;
      font-size: 1.5em;
      color: #62cbc9;
    }
    .btn_sp a:active {

      color: #f8f8f8;
    }
    .contact {
      margin-bottom: 10%;
      height: 50vh;
    }
   }

  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) and (max-width: 1199.98px) {
    .topHeading {
      padding-bottom: 20%;
    }
    .topHeading>h1 , .topHeading>h2{
      font-size: 7em;
      margin-bottom: 0;
    }
    .top-text {
      padding:10% 2%;
      width: 96%;
    }
    .top-text h3 {
      padding-left: 3%;
    }
    .msg {
      width: 90%;
      padding: 0 5%;
    }
    .interestsBox li {
      width: 46%;
    }
    .interests h4 {
      padding-left: 5%;
    }
    .skills {
      margin-top: 27%;
    }
    .work {
      height: auto;
      margin-bottom: 5%;
    }
    .row {
      display: none;
    }
    .workList {

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: stretch;
    }
    .workList li {
      width: 30%;
      display: flex;
      justify-content: space-between;
    }
    .workWrap {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: space-between;
      padding-bottom: 15%;
    }
    .workWrap a {
      text-align: center;

    }
    .workWrap > a>img {
      height: 11em;
      width: 100%;
    }

    .workWrap > h4, .workWrap >p {
      margin:0;
      font-size: 1em;
      color: #595757;
      text-align: center;
    }
    .workWrap >h4 {
      font-size: 1.2em;
    }

    .btn_sp {
      width:60%;
      height: 45px;
      border: 1px solid #62cbc9;
      border-radius: 10px;
      margin-top: 5%;
      display: flex;
      align-items: center;
      align-self: center;
    }
    .btn_sp:active {
        background: #62cbc9;
    }
    .btn_sp a {
      display: inline-block;
      text-align: center;
      width: 100%;
      font-size: 1.5em;
      color: #62cbc9;
    }
    .btn_sp a:active {

      color: #f8f8f8;
    }
   }
